POSTGRES_USER=airflow
POSTGRES_PASSWORD=change-me
POSTGRES_DB=airflow

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=change-me-minio
STOCK_DATA_BUCKET=stock-market-data
STOCK_TICKERS=AAPL,MSFT,TSLA,GOOGL,AMZN,NVDA,META,AMD,NFLX,BABA

METABASE_DB_USER=metabase
METABASE_DB_PASSWORD=change-me-metabase
